$cor-principal: #3498db;
$fonte-principal: "Arial", sans-serif;

h1 {
  color: $cor-principal;
  font-family: $fonte-principal;
}

button {
  background: $cor-principal;
  border: 2px solid $cor-principal;
}

// exemplo 2
button {
  color: white;

  &:hover {
    background: #56cf27;
  }
  &.ativo {
    background: green;
  }
}

@mixin centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  @include centralizar;
  height: 200px;
  background: gray;
}

@mixin borda-redonda($raio) {
  border-radius: $raio;
}

button {
  @include borda-redonda(10px);
}

.card {
  @include borda-redonda(20px);
  background-color: gray;
}
